doctype html
html
    head
        title Add Expense
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")
    body
        h1 Add a New Costs
        form(action="/api/add" method="POST")
            label(for="userId") User ID:
            input(type="text" id="userId" name="userId" required)
            br
            label(for="description") Description:
            input(type="text" id="description" name="description" required)
            br
            label(for="category") Category:
            input(type="text" id="category" name="category" required)
            br
            label(for="sum") Amount:
            input(type="number" id="sum" step="0.01" name="sum" required)
            br
            label(for="date") Date (Optional):
            input(type="date" id="date" name="date")
            br
            button(type="submit") Add Cost
            br
